.page-speed h2.MuiTypography-root {
  line-height: 1.1;
}
.page-speed .label {
  padding: 7px;
  height: 22px;
  font-size: var(--env-var-font-size-small);
}
.page-speed:not(:has([class*="fallback__"])) button {
  height: 34px;
}
