/* ////// */
/* SHARED */
/* ////// */
.register-page,
.login-page,
.set-new-password-page,
.password-confirmed-page,
.forgot-password-page,
.check-email-page {
  display: flex;
  justify-content: center;
  height: var(--env-var-height-1);
}
.register-page h1.MuiTypography-root,
.login-page h1.MuiTypography-root,
.set-new-password-page h1.MuiTypography-root,
.password-confirmed-page h1.MuiTypography-root,
.forgot-password-page h1.MuiTypography-root,
.check-email-page h1.MuiTypography-root {
  font-size: var(--env-var-font-size-large);
  color: var(--env-var-color-1);
  font-weight: 600;
}
.register-page p.MuiTypography-root,
.register-page span,
.register-page button,
.login-page p.MuiTypography-root,
.login-page span,
.login-page button,
.set-new-password-page p.MuiTypography-root,
.set-new-password-page button,
.password-confirmed-page p.MuiTypography-root,
.password-confirmed-page button,
.forgot-password-page p.MuiTypography-root,
.forgot-password-page button,
.check-email-page p.MuiTypography-root,
.check-email-page button,
.check-email-page span.MuiTypography-root {
  font-size: var(--env-var-font-size-medium);
}
.register-page p.MuiTypography-root,
.login-page p.MuiTypography-root {
  color: var(--env-var-color-2);
  opacity: 0.8;
}
.register-page button:not(.MuiIconButton-root),
.login-page button:not(.MuiIconButton-root),
.set-new-password-page button:not(.MuiIconButton-root),
.password-confirmed-page button:not(.MuiIconButton-root),
.forgot-password-page button:not(.MuiIconButton-root),
.check-email-page button:not(.MuiIconButton-root) {
  height: 34px;
  border-radius: var(--env-var-radius-2);
  line-height: 0;
}

.register-page svg rect,
.login-page svg rect {
  fill: none;
}
.register-form,
.login-form {
  margin-top: 95px;
}

.set-new-password-form,
.password-confirmed-form,
.forgot-password-form,
.check-email-form {
  margin-top: 65px;
  width: var(--env-var-width-2);
}
.set-new-password-page p.MuiTypography-root,
.password-confirmed-page p.MuiTypography-root,
.forgot-password-page p.MuiTypography-root,
.check-email-page p.MuiTypography-root {
  color: var(--env-var-color-2);
}

.login-page .MuiFormControlLabel-root .MuiButtonBase-root,
.set-new-password-page button:not(.MuiIconButton-root) svg,
.password-confirmed-page button:not(.MuiIconButton-root) svg,
.forgot-password-page button svg,
.check-email-page button svg {
  margin-right: 5px;
}

.register-page
  .MuiFormControl-root:has(#register-password-input)
  + span.MuiTypography-root,
.set-new-password-page
  .MuiFormControl-root:has(#register-password-input)
  + span.MuiTypography-root,
.password-confirmed-page
  .MuiFormControl-root:has(#register-password-input)
  + span.MuiTypography-root {
  display: none;
  visibility: hidden;
}

/* ///// */
/* LOGIN */
/* ///// */
.login-page
  .MuiStack-root:not(:has(> .MuiButtonBase-root))
  span:not(.MuiTypography-root):not(.field-required) {
  color: var(--env-var-color-3);
  cursor: pointer;
  font-weight: 600;
}
.login-page .MuiFormControlLabel-root {
  margin: 0;
}
.login-page .MuiFormControlLabel-root span:not(.Mui-checked) svg {
  fill: var(--env-var-color-4);
}
.login-page .MuiFormControlLabel-root svg {
  margin-bottom: 1px;
}
.login-page .MuiFormControlLabel-root .MuiTypography-root {
  color: var(--env-var-color-5);
  user-select: none;
}

/* /////////// */
/* Check Email */
/* /////////// */
.check-email-page span.MuiTypography-root {
  font-weight: 600;
}
