:root {
  --announcement-border-color: #d0d5dd;
  --announcement-border-radius: 4px;
  --announcement-border-radius-2: 8px;
  --announcement-font-size-0: 13px;
  --announcement-font-color-0: #344054;
  --announcement-font-color-1: #475467;
  --announcement-font-color-2: #1570ef;
  --announcement-padding: 16px;
  --info-icon-frame-color: #eaecf0;
  --tile-margin: 20px;
}

.announcement-tile {
  margin: var(--tile-margin);
  width: fit-content;
  display: flex;
  border: 1px solid var(--announcement-border-color);
  padding: var(--announcement-padding);
  border-radius: var(--announcement-border-radius);
}

.info-icon-frame {
  display: flex;
  width: 40px;
  height: 40px;
  border: 1px solid var(--info-icon-frame-color);
  border-radius: var(--announcement-border-radius-2);
  justify-content: center;
  align-items: center;
}

.announcement-content {
  padding: 0 var(--announcement-padding);
}

.announcement-content-subject {
  font-size: var(--announcement-font-size-0);
  color: var(--announcement-font-color-0);
  font-weight: 700;
  margin-bottom: 10px;
}

.announcement-content-body {
  font-size: var(--announcement-font-size-0);
  color: var(--announcement-font-color-1);
  font-weight: 300;
}

.announcement-content-controllers {
  display: flex;
  font-size: var(--announcement-font-size-0);
  margin-top: 15px;
}

.controllers-button-esc {
  font-size: var(--announcement-font-size-0);
  font-weight: 600;
  margin-right: 12px;
}

.controllers-button-primary {
  font-size: var(--announcement-font-size-0);
  font-weight: 600;
  color: var(--announcement-font-color-2);
}

.announcement-close {
  width: 24px;
  height: 24px;
}
