.register-page {
  display: flex;
  justify-content: center;
  min-height: var(--env-var-height-1);
}

.register-form {
  width: var(--env-var-width-2);
  margin: 140px auto;
}

.register-form-header {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.register-form-header-logo {
  margin: 0 auto;
}

.register-form-v-spacing-large {
  height: var(--env-var-spacing-3);
}

.register-form-v-spacing-small {
  height: var(--env-var-spacing-1);
}

.register-form-heading {
  font-size: var(--env-var-font-size-large);
  font-weight: 700;
  color: var(--env-var-color-1);
}

.register-form-subheading {
  font-size: var(--env-var-font-size-medium);
  color: var(--env-var-color-2);
  font-weight: 600;
}

.register-bottom-spacing {
  height: 50px;
}
