@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Generalized Stylings */
  --theme-main: #1570ef;

  --primary-color: #1c2130;
  --secondary-color: #344054;
  --secondary-color-light: #475467;
  --secondary-color-light-accent: #838c99;

  --primary-bg: #ffffff;
  --primary-bg-accent: #f9fafb;
  --secondary-bg: #fcfcfd;

  --border-color: #eaecf0;

  /* OTHER COLORS */
  --success-color: #17b26a;
  --success-color-light: #d4f4e1;
  --success-bg: #ecfdf3;
  --error-color: #f04438;
  --error-color-light: #fbd1d1;
  --error-bg: #f9eced;
  --warning-color: #fdb022;
  --warning-color-light: #fffcf5;
  --warning-bg: #ffecbc;
  --unresolved-color: #4e5ba6;
  --unresolved-color-light: #e2eaf7;
  --unresolved-bg: #f2f4f7;

  --env-var-color-0: #fff;
  --env-var-color-1: #1c2130;
  --env-var-color-2: #475467;
  --env-var-color-2-light: #838c99;
  --env-var-color-3: #1570ef;

  --env-var-color-4: #d0d5dd;
  --env-var-color-5: #344054;
  --env-var-color-6: #eaecf0;
  --env-var-color-7: #7f56d9;
  --env-var-color-8: #fff;
  --env-var-color-9: #f2f2f2;
  --env-var-color-10: #175cd3;
  --env-var-color-11: #5d6b98;
  --env-var-color-12: #182230;
  --env-var-color-13: #f9fafb;
  --env-var-color-14: #98a2b3;
  --env-var-color-15: #f2f4f7;
  --env-var-color-16: #ebebeb;
  --env-var-color-17: #079455;
  --env-var-color-18: #ffc301;
  --env-var-color-19: #f04438;
  --env-var-color-20: #ecfdf3;
  --env-var-color-21: hsla(0, 100%, 52%, 0.06);
  --env-var-color-22: #4e5ba6;
  --env-var-color-23: #17b26a;
  --env-var-color-24: #d92d20;
  --env-var-color-25: #667085;
  --env-var-color-26: #ff1818;

  --env-var-color-27: #fecf60;
  --lighter-env-var-color-27: rgba(254, 207, 96, 0.1);
  --env-var-color-28: #f79009;
  --env-var-color-29: #d0d5dd;
  --env-var-color-30: #fcfcfd;
  --env-var-color-31: #1a1919;
  --env-var-color-32: #f5f5f5;
  --env-var-color-33: rgba(83, 83, 83, 0.1);

  --env-var-radius-1: 4px;
  --env-var-radius-2: 8px;

  --env-var-width-1: 100vw;
  --env-var-width-2: 360px;

  --env-var-height-1: 100vh;
  --env-var-height-2: 34px;

  --env-var-nav-bar-height: 70px;
  --env-var-side-bar-width: 250px;

  --env-var-spacing-1: 12px;
  --env-var-spacing-1-plus: 16px;
  --env-var-spacing-1-minus: 10px;
  --env-var-spacing-2: 24px;
  --env-var-spacing-3: 32px;
  --env-var-spacing-4: 40px;
  --env-var-spacing-5: 65px;

  --env-var-font-size-small: 11px;
  --env-var-font-size-small-plus: 12px;
  --env-var-font-size-medium: 13px;
  --env-var-font-size-medium-plus: 14px;
  --env-var-font-size-large: 16px;
  --env-var-font-size-large-plus: 22px;
  --env-var-font-size-xlarge: 30px;

  --env-var-img-width-1: 20px;
  --env-var-img-width-2: 16px;
  --env-var-img-width-3: 12px;

  --env-var-default-1: 24px;
  --env-var-default-2: 40px;

  --env-var-shadow-1: 0px 4px 24px -4px rgba(16, 24, 40, 0.08),
    0px 3px 3px -3px rgba(16, 24, 40, 0.03);
}

body {
  margin: 0;
  min-width: 320px;
  height: 100%;
}

.MuiInputBase-root.Mui-disabled input {
  cursor: not-allowed;
}

.Toastify__toast-container {
  width: auto;
}
.Toastify__toast-body .alert {
  min-width: 150px;
}
.Toastify [class^="Toastify__toast"] {
  padding: 0;
  margin: 0;
}
.Toastify__toast {
  min-height: 0;
  border-radius: 4px;
}

.MuiTouchRipple-root {
  display: none;
}

body .MuiSkeleton-root {
  background-color: #f2f4f7;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}
