.password-confirmed-page {
  display: flex;
  justify-content: center;
  height: var(--env-var-height-1);
}
.password-confirmed-page button:not(.MuiIconButton-root) {
  height: 34px;
  border-radius: var(--env-var-radius-2);
  line-height: 0;
}
.password-confirmed-page h1.MuiTypography-root {
  font-size: var(--env-var-font-size-large);
  color: var(--env-var-color-1);
  font-weight: 600;
}
.password-confirmed-page p.MuiTypography-root,
.password-confirmed-page button {
  font-size: var(--env-var-font-size-medium);
}
.password-confirmed-page p.MuiTypography-root {
  color: var(--env-var-color-2);
}
.password-confirmed-page button:not(.MuiIconButton-root) svg {
  margin-right: 5px;
}
.password-confirmed-page
  .MuiFormControl-root:has(#register-password-input)
  + span.MuiTypography-root {
    display: none;
    visibility: hidden;
}

.password-confirmed-form {
  margin-top: 65px;
  width: var(--env-var-width-2);
}
