.box-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

#box-close-icon {
  width: 12px;
  height: 12px;
}

.box-actions {
  display: flex;
  margin-top: var(--env-var-spacing-2);
  justify-content: end;
}

div.MuiFormControl-root div.MuiInputBase-root input.MuiInputBase-input {
  font-size: var(--env-var-font-size-medium);
}

div.MuiFormControl-root
  div.MuiInputBase-root
  div.MuiInputAdornment-root
  button.MuiButtonBase-root
  svg.MuiSvgIcon-root {
  width: 20px;
  height: 20px;
}

div.MuiFormControl-root div.MuiInputBase-root div.MuiSelect-select {
  height: 17px;
  font-size: var(--env-var-font-size-medium);
  align-items: center;
}

div.MuiFormControl-root
  div.MuiInputBase-root
  div.MuiSelect-select
  fieldset.MuiOutlinedInput-notchedOutline {
  height: 17px;
}

div.MuiStack-root.field.field-text h3.MuiTypography-root.MuiTypography-body1 {
  font-size: var(--env-var-font-size-medium);
  font-weight: 600;
  color: var(--env-var-color-5);
  margin-bottom: 8px;
}

div.MuiStack-root.field.field-text
  div.MuiFormControl-root
  div.MuiInputBase-root.MuiOutlinedInput-root {
  width: 320px;
  margin-bottom: 16px;
}

div.MuiStack-root.field.field-text
  div.MuiFormControl-root
  div.MuiInputBase-root.MuiOutlinedInput-root
  #friendly-name,
div.MuiStack-root.field.field-text
  div.MuiFormControl-root
  div.MuiInputBase-root.MuiOutlinedInput-root
  #add-monitor {
  height: 34px;
  font-size: var(--env-var-font-size-medium);
}
