body:has(.maintenance-options) div.MuiBox-root div.MuiStack-root svg {
  position: absolute;
  right: 0;
  width: 12px;
  height: 12px;
}

.maintenance-options:has(.maintenance-options-repeats)
  .select-wrapper
  h3.MuiTypography-root {
  font-weight: 600;
  margin-bottom: 8px;
}
