.check-email-page {
  display: flex;
  justify-content: center;
  height: var(--env-var-height-1);
}
.check-email-page button:not(.MuiIconButton-root) {
  height: 34px;
  border-radius: var(--env-var-radius-2);
  line-height: 0;
}
.check-email-page h1.MuiTypography-root {
  font-size: var(--env-var-font-size-large);
  color: var(--env-var-color-1);
  font-weight: 600;
}
.check-email-page p.MuiTypography-root,
.check-email-page button,
.check-email-page span.MuiTypography-root {
  font-size: var(--env-var-font-size-medium);
}
.check-email-page span.MuiTypography-root {
  font-weight: 600;
}
.check-email-page p.MuiTypography-root {
  color: var(--env-var-color-2);
}
.check-email-page button svg {
  margin-right: 5px;
}

.check-email-form {
  margin-top: 65px;
  width: var(--env-var-width-2);
}
