.config-box {
  display: flex;
  padding: var(--env-var-spacing-4) 50px;
  padding-bottom: 60px;
  border: 1px solid var(--env-var-color-16);
  border-radius: var(--env-var-radius-1);
  justify-content: space-between;
}
.config-box>.MuiStack-root{
  flex-direction: column;
  flex: 1;
}
.config-box>.MuiStack-root:first-of-type{
  margin-right: var(--env-var-spacing-3);
}