.check > span.MuiTypography-root {
  font-size: var(--env-var-font-size-small-plus);
  color: var(--secondary-color-light);
  opacity: 0.8;
}
.check-error span.MuiTypography-root {
  color: var(--error-color);
}
.check-error svg > path {
  fill: var(--error-color);
}
.check-success span.MuiTypography-root {
  color: var(--success-color);
}
.check-success svg > path {
  fill: var(--success-color);
}
