.dashboard-sidebar {
  height: calc(100vh - var(--env-var-spacing-5));
  width: 250px;
  border: 1px solid var(--color-border-0);
  border-top: none;
  border-bottom: none;
  top: 64px;
  position: sticky;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.support-container {
  display: flex;
  align-items: center;
  padding: 28px 35px;
  margin-bottom: 30px;
}

.support-text {
  font-size: var(--env-var-font-size-medium);
  color: var(--env-var-color-12);
}

.support-icon {
  width: var(--env-var-img-width-1);
  margin-right: 8px;
}
