:root {
  --textfield-color-0: #344054;
}

.password-text-field {
  position: relative;
  margin-top: var(--margin-1);
}

#outlined-basic {
  width: 320px;
  height: 14px;
  font-size: var(--font-size-1);
  padding: 8px 12px;
}

.password-text-field-title {
  font-size: var(--font-size-1);
  color: var(--textfield-color-0);
  font-weight: bold;
}

#outlined-basic-helper-text {
  margin-left: 0;
  margin-top: var(--margin-1);
  font-size: var(--font-size-4);
}

.text-field-icon {
  width: var(--size-16);
  height: var(--size-16);
}

.icon-holder {
  width: var(--size-16);
  height: var(--size-16);
  padding: 0;
  margin: 0;
}
