.not-found-page {
  height: 100vh;
}
.not-found-page button,
.not-found-page p {
  font-size: var(--env-var-font-size-medium);
}
.not-found-page h1 {
  font-size: var(--env-var-font-size-large);
  font-weight: 600;
}
.not-found-page h1,
.not-found-page p {
  color: var(--secondary-color);
}
