.announcement-without-tile {
  margin: 20px;
  max-width: 343px;
  width: fit-content;
  display: flex;
  border: 1px solid var(--env-var-color-4);
  padding: 16px;
  border-radius: var(--env-var-radius-1);
}

.h-spacing {
  width: 20px;
}

.announcement-without-content-subject {
  font-size: var(--env-var-font-size-medium);
  color: var(--env-var-color-5);
  font-weight: 700;
  margin-bottom: 10px;
}

.announcement-without-content-body {
  font-size: var(--env-var-font-size-medium);
  color: var(--env-var-color-2);
}
