.toast-container {
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    z-index: 1000; /* Ensure it's above other content */
  }
  
  .toast {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 16px;
    min-width: 300px; /* Adjust minimum width as needed */
    max-width: 600px; /* Adjust maximum width as needed */
    position: relative;
    animation: slideIn 0.3s ease forwards;
    overflow: hidden; /* Ensure progress bar stays within bounds */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
  .toast .info-icon-frame {
    position: absolute;
    top: 15px; /* Adjust top position as needed */
    left: 20px; /* Adjust left position as needed */
  }

  .icon {
    position: absolute;
    top: 15px; /* Adjust top position as needed */
    left: 20px; /* Adjust left position as needed */
  }
  
  .toast .toast-content {
    flex-grow: 1; /* Allow content to expand */
  }
  
  .toast .announcement-content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  
  .toast .announcement-content-subject {
    font-weight: bold;
    margin-bottom: 8px; /* Space below subject */
    margin-left: 40px; /* Adjust left margin for more space */
  }
  
  .toast .announcement-content-body {
    color: #555;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide any overflow */
    text-overflow: ellipsis; /* Show ellipsis (...) if the text overflows */
    margin-left: 40px; /* Adjust left margin for more space */
  }
  
  .toast .announcement-content-body-title {
    display: inline-block;
    margin-right: 5px; /* Adjust spacing between title and body */
  }
  
  .toast .announcement-content-controllers {
    margin-top: 12px;
  }
  
  .toast .controllers-button-esc,
  .toast .controllers-button-primary {
    cursor: pointer;
    padding: 8px 16px;
    margin-left: 23px; /* Adjust left margin for closer proximity */
  }

  
  .toast-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: #29b6f6; /* Adjust color as needed */
    transition: width 0.1s linear;
  }
  
  .close-button {
    position: absolute;
    top: 1px;
    right: 10px;
    cursor: pointer;
    font-size: 35px;
    color: #aaa;
  }
  