.bar-chart {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 50px;
  width: 300px;
}

.bar {
  width: 7%;
  transition: height 0.3s ease;
}

.green {
  background-color: var(--env-var-color-23);
}

.red {
  background-color: var(--env-var-color-24);
}
