.bar-tooltip .MuiTooltip-tooltip {
  background-color: white;
  border: solid 1px black;
  box-shadow: var(--env-var-shadow-1);
  border: solid 1px var(--env-var-color-6);
  border-radius: var(--env-var-radius-1);
  padding: 4px 8px;
}

.bar-tooltip .MuiTooltip-tooltip p {
  font-size: var(--env-var-font-size-small-plus);
  color: var(--secondary-color-light);
  font-weight: 500;
}
.bar-tooltip .MuiTooltip-tooltip span {
  font-size: var(--env-var-font-size-small);
  color: var(--secondary-color-light);
  font-weight: 600;
}
