:root {
  --spacing-1: 15px;
  --spacing-2: 20px;
  --spacing-3: 25px;
  --textfield-font-size: 13px;

  --login-page-width-1: 100vw;
  --login-page-height-1: 100vh;

  --login-form-width-1: 360px;
  --login-form-height-1: 526px;

  --logo-width-1: 20px;
  --login-font-size-medium: 13px;

  --login-color-1: #101828;
  --login-color-2: #1570ef;
  --login-color-3: #475467;
}

.login-page {
  width: var(--login-page-width-1);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--login-page-height-1);
}

.login-form {
  width: var(--login-form-width-1);
  height: var(--login-form-height-1);
  margin: 90px auto;
}

.login-form-header {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-form-header-logo {
  margin: 0 auto;
}

.login-form-v-spacing {
  height: var(--spacing-1);
}

.login-form-v2-spacing {
  height: var(--spacing-2);
}

.login-form-v3-spacing {
  height: var(--spacing-3);
}

.login-form-heading {
  font-size: 30px;
  font-weight: 700;
  color: var(--login-color-1);
}

#login-email-input {
  width: 308px;
  height: 11px;
  font-size: var(--textfield-font-size);
}

.login-form-password-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-form-forgot-password {
  color: var(--login-color-2);
  font-weight: 600;
  cursor: pointer;
  font-size: var(--login-font-size-medium);
}

.google-enter {
  width: var(--logo-width-1);
  height: var(--logo-width-1);
  margin-right: 10px;
}

.new-account-option {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--login-color-3);
  font-size: var(--login-font-size-medium);
  font-weight: 600;
}

.new-account-option-span {
  margin-left: 5px;
  color: var(--login-color-2);
  font-size: 14px;
  cursor: pointer;
}
