.login-page {
  width: var(--env-var-width-1);
  display: flex;
  justify-content: center;
  height: 100vh;
}
.login-page svg rect {
  fill: none;
}
.login-page p.MuiTypography-root,
.login-page span,
.login-page button {
  font-size: var(--env-var-font-size-medium);
}
.login-page p.MuiTypography-root {
  color: var(--env-var-color-2);
  opacity: 0.8;
}
.login-page button:not(.MuiIconButton-root)  {
  height: 34px;
  border-radius: var(--env-var-radius-2);
  line-height: 0;
}
.login-page span:not(.MuiTypography-root):not(.MuiButtonBase-root) {
  color: var(--env-var-color-3);
  cursor: pointer;
  font-weight: 600;
}
.login-page .MuiFormControlLabel-root {
  margin: 0;
}
.login-page .MuiFormControlLabel-root .MuiButtonBase-root {
  margin-right: 5px;
}
.login-page .MuiFormControlLabel-root span:not(.Mui-checked) svg{
  fill: var(--env-var-color-4);
}
.login-page .MuiFormControlLabel-root svg{
  margin-bottom: 1px;
}
.login-page .MuiFormControlLabel-root .MuiTypography-root {
  color: var(--env-var-color-5);
  user-select: none;
}

/* .login-form-inputs .field h3.MuiTypography-root{
  font-weight: 600;
} */

.login-form{
  margin-top: 95px;
}

.google-enter {
  width: var(--env-var-img-width-1);
  height: var(--env-var-img-width-1);
  margin-right: 10px;
}