.icon-holder-outer-red {
  width: var(--size-38);
  height: var(--size-38);
  border-radius: 50%;
  border: var(--border-2-solid) #d92d2019;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-holder-inner-red {
  width: var(--size-28);
  height: var(--size-28);
  border-radius: 50%;
  border: var(--border-2-solid) #d92d204d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-holder-outer-green {
  width: var(--size-38);
  height: var(--size-38);
  border-radius: 50%;
  border: var(--border-2-solid) #07945519;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-holder-inner-green {
  width: var(--size-28);
  height: var(--size-28);
  border-radius: 50%;
  border: var(--border-2-solid) #0794554d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-core {
  width: var(--size-20);
  height: var(--size-20);
}
