.MuiButtonBase-root.button-rotate90 svg {
  transition: transform 500ms ease;
}
.MuiButtonBase-root.button-rotate90:hover svg {
  transform: rotate(90deg);
  transform-origin: center;
}

.MuiButtonBase-root.button-rotate180 svg {
  transition: transform 700ms ease;
}
.MuiButtonBase-root.button-rotate180:hover svg {
  transform: rotate(180deg);
  transform-origin: center;
}

.MuiButtonBase-root.button-slideLeft {
  padding-left: 45px;
}
.MuiButtonBase-root.button-slideLeft svg {
  position: absolute;
  left: 15px;
  transition: left 250ms cubic-bezier(0.65, 0, 0.076, 1);
}
.MuiButtonBase-root.button-slideLeft:hover svg {
  left: 11px;
}

.MuiButtonBase-root.button-slideLeft:hover,
.MuiButtonBase-root.button-rotate180:hover,
.MuiButtonBase-root.button-rotate90:hover {
  background-color: rgba(71, 84, 103, 0.08);
}
