.dashboard-sidebar {
  height: 100vh;
  width: 250px;
  border: 1px solid var(--color-border-0);
  border-radius: var(--border-radius-0);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}

.menu-container {
  margin-top: 60px;
}

.support-container {
  display: flex;
  align-items: center;
  padding: 28px 35px;
  margin-bottom: 30px;
}

.support-text {
  font-size: var(--env-var-font-size-medium);
  color: var(--env-var-color-12);
}

.support-icon {
  width: var(--env-var-img-width-1);
  margin-right: 8px;
}
