#root:has(.home-layout) {
  background-color: var(--env-var-color-30);
}

.home-layout {
  display: flex;
  position: relative;
  gap: var(--env-var-spacing-2);
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  padding: var(--env-var-spacing-2);
}

.home-layout aside {
  position: sticky;
  top: var(--env-var-spacing-2);
  left: 0;

  height: calc(100vh - var(--env-var-spacing-2) * 2);
  max-width: var(--env-var-side-bar-width);
  flex: 1;

  border: 1px solid var(--color-border-0);
  border-radius: var(--env-var-radius-1);
  background-color: var(--env-var-color-8);

  padding: var(--env-var-spacing-1) var(--env-var-spacing-1-plus);
}

.home-layout > div {
  min-height: calc(100vh - var(--env-var-spacing-2) * 2);
  flex: 1;
}
