.configure-monitor h1.MuiTypography-root {
  font-size: var(--env-var-font-size-large-plus);
  font-weight: 600;
}
.configure-monitor p.MuiTypography-root {
  font-size: var(--env-var-font-size-medium);
}
.configure-monitor h1.MuiTypography-root + span.MuiTypography-root {
  font-size: var(--env-var-font-size-small-plus);
}
.configure-monitor button.MuiButtonBase-root {
  height: var(--env-var-height-2);
}

.configure-monitor .MuiStack-root:has(span.MuiTypography-root.input-error) {
  position: relative;
}
.configure-monitor span.MuiTypography-root.input-error {
  position: absolute;
  top: 100%;
}
