.duration-controls {
  display: flex;
  gap: 14px;
  margin-bottom: 16px;
}

div.MuiPaper-root
  ul.css-6hp17o-MuiList-root-MuiMenu-list
  .css-a287pc-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  margin: 2px 6px;
  border-radius: 6px;
}

.css-8je8zh-MuiTouchRipple-root {
  display: none;
}
