.maintenance-options {
  > .MuiStack-root {
    > .MuiStack-root.select-wrapper,
    .field {
      width: 380px;
    }
  }
}

.date-picker,
.time-picker {
  .MuiOutlinedInput-root {
    height: 34px;
    font-size: var(--env-var-font-size-medium);
  }
}

.date-picker .MuiOutlinedInput-root {
  width: 140px;
}

.time-picker .MuiOutlinedInput-root {
  width: 90px;
}

.MuiInputAdornment-outlined .MuiIconButton-root svg {
  width: 20px;
}

.duration-config {
  .field-text .MuiTextField-root,
  .field {
    width: 70px;
    min-width: 70px;
    max-width: 70px;
  }

  > .MuiStack-root.select-wrapper {
    width: 100px;

    > .MuiInputBase-root:has(> .MuiSelect-select) {
      min-width: 100px;
    }
  }

  .select-wrapper .select-component > .MuiSelect-select {
    text-transform: none;
  }
}
