:root {
  --tooltip-color-0: #d0d5dd;
  --tooltip-margin: 5px;
  --tooltip-font-size: 12px;
}

.tooltip-title {
  font-size: var(--tooltip-font-size);
  font-weight: bold;
  margin: var(--tooltip-margin);
}

.tooltip-description {
  font-size: var(--tooltip-font-size);
  color: var(--tooltip-color-0);
  margin: var(--tooltip-margin);
}
