:root {
  --env-var-color-1: #101828;
  --env-var-color-2: #475467;
  --env-var-color-3: #1570ef;

  --env-var-color-4: #d0d5dd;
  --env-var-color-5: #344054;
  --env-var-color-6: #eaecf0;
  --env-var-color-7: #7f56d9;
  --env-var-color-8: #fff;
  --env-var-color-9: #f2f2f2;
  --env-var-color-10: #175cd3;

  --env-var-radius-1: 4px;
  --env-var-radius-2: 8px;

  --env-var-width-1: 100vw;
  --env-var-width-2: 360px;

  --env-var-height-1: 100vh;

  --env-var-spacing-1: 12px;
  --env-var-spacing-2: 24px;
  --env-var-spacing-3: 32px;
  --env-var-spacing-4: 40px;

  --env-var-font-size-small: 11px;
  --env-var-font-size-medium: 13px;
  --env-var-font-size-medium-plus: 14px;
  --env-var-font-size-large: 16px;
  --env-var-font-size-xlarge: 30px;

  --env-var-img-width-1: 20px;

  --env-var-default-1: 24px;
  --env-var-default-2: 40px;
}

.tooltip-title {
  font-size: var(--env-var-font-size-medium);
  font-weight: bold;
  margin: 5px;
}

.tooltip-description {
  font-size: var(--env-var-font-size-medium);
  color: var(--env-var-color-4);
  margin: 5px;
}
