.update-subscription {
  margin: 20px;
}

.update-subscription,
.update-subscription-dialog {
  max-width: 770px;
  border-radius: 4px;
  border: 1px solid #eaecf0;
}

.update-subscription-dialog {
  padding: 15px 30px;
}

.subscription-dialog-title {
  font-size: 1rem;
  font-weight: 700;
  color: var(--env-var-color-1);
}

.v-spacing-small {
  height: 10px;
}

.v-spacing-medium {
  height: 15px;
}

.subscription-dialog-text {
  font-size: 13px;
  color: var(--env-var-color-2);
}

.subscription-dialog-controls {
  display: flex;
}

.controls-negative {
  padding: 12px 16px;
  margin-right: 12px;
  border-radius: var(--env-var-radius-1);
  border: 1px solid var(--env-var-color-6);
  background-color: var(--env-var-color-8);
  font-size: var(--env-var-font-size-medium);
}

.controls-positive,
.subscribe-button {
  padding: 12px 16px;
  margin-right: 12px;
  border-radius: var(--env-var-radius-1);
  border: 1px solid var(--env-var-color-7);
  background-color: var(--env-var-color-3);
  color: var(--env-var-color-8);
  font-size: var(--env-var-font-size-medium);
}

.update-subscription-title {
  color: var(--env-var-color-5);
  padding: 0 20px;
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 10px;
}

.subscription-email {
  display: flex;
  padding: 0 20px;
}

.subscription-email-field {
  width: 290px;
  height: 24px;
  border-radius: var(--env-var-radius-1);
  border: 1px solid var(--env-var-color-4);
  box-shadow: 0px 1px 2px 0px rgba(101, 182, 28, 0.05);
  padding: 5px 15px;
  margin-right: 20px;
}

.subscribe-button {
  width: 100px;
  height: 34px;
  padding: 2px 15px;
}
