.create-page-speed form {
  position: relative;
  margin: auto;
  margin-top: var(--env-var-default-2);
  background-color: var(--env-var-color-8);
  width: 100%;
  max-width: 500px;
  box-shadow: var(--env-var-shadow-1);
  border-radius: var(--env-var-radius-1);
  padding: var(--env-var-default-2);
}
.create-page-speed h1.MuiTypography-root,
.create-page-speed h2.MuiTypography-root,
.create-page-speed p.MuiTypography-root,
.create-page-speed h2.MuiTypography-root > span.MuiTypography-root {
  color: var(--env-var-color-5);
}
.create-page-speed h1.MuiTypography-root,
.create-page-speed h2.MuiTypography-root {
  font-weight: 600;
}
.create-page-speed h2.MuiTypography-root {
  font-size: var(--env-var-font-size-medium-plus);
}
.create-page-speed p.MuiTypography-root,
.create-page-speed button,
.create-page-speed h2.MuiTypography-root > span.MuiTypography-root {
  font-size: var(--env-var-font-size-medium);
}
.create-page-speed .MuiBox-root > .field + p.MuiTypography-root {
  font-size: var(--env-var-font-size-small-plus);
}
.create-page-speed .MuiBox-root > .field + p.MuiTypography-root,
.create-page-speed h2.MuiTypography-root > span.MuiTypography-root {
  opacity: 0.6;
}
.create-page-speed .checkbox-wrapper {
  margin-bottom: 1px;
}
/* to be removed */
.create-page-speed .section-disabled {
  opacity: 0.4;
  background-color: #f1f1f2;
  padding: 10px;
  border-radius: 8px;
  user-select: none;
  pointer-events: none;
}

.create-page-speed button:not(.MuiIconButton-root) {
  height: var(--env-var-height-2);
}
.create-page-speed .MuiIconButton-root {
  position: absolute;
  top: 0;
  right: 0;
  margin: var(--env-var-spacing-1);
}

body:has(.create-page-speed) .select-dropdown .MuiMenuItem-root,
.create-page-speed .select-wrapper .select-component > .MuiSelect-select {
  text-transform: lowercase;
}
