.create-page-speed h1.MuiTypography-root,
.create-page-speed h3.MuiTypography-root {
  font-weight: 600;
}
.create-page-speed p.MuiTypography-root,
.create-page-speed h3.MuiTypography-root,
.create-page-speed h3.MuiTypography-root > span.MuiTypography-root {
  font-size: var(--env-var-font-size-medium);
}
.create-page-speed .MuiBox-root > .field + p.MuiTypography-root {
  font-size: var(--env-var-font-size-small-plus);
}
.create-page-speed .MuiBox-root > .field + p.MuiTypography-root,
.create-page-speed h3.MuiTypography-root > span.MuiTypography-root {
  opacity: 0.6;
}
.create-page-speed .checkbox-wrapper {
  margin-bottom: 1px;
}

/* to be removed */
.create-page-speed .section-disabled {
  opacity: 0.4;
  padding: 10px;
  margin-right: -5px;
  border-radius: 8px;
  user-select: none;
  pointer-events: none;
}

.create-page-speed button {
  height: var(--env-var-height-2);
}

.create-page-speed h3.MuiTypography-root {
  flex: 0.7;
}

.create-page-speed .field,
.create-page-speed .section-disabled,
.create-page-speed .select-wrapper {
  flex: 1;
}
