.monitor-details h2.MuiTypography-root {
  font-size: var(--env-var-font-size-large);
}
.monitor-details button.MuiButtonBase-root {
  height: var(--env-var-height-2);
  line-height: 1;
}
.monitor-details p.MuiTypography-root,
.monitor-details p.MuiTypography-root span.MuiTypography-root {
  font-size: var(--env-var-font-size-small-plus);
}
