.field {
	min-width: 250px;
}
.field h3.MuiTypography-root,
.field h5.MuiTypography-root,
.field input,
.field textarea,
.field .input-error {
	font-size: var(--env-var-font-size-medium);
}
.field h5.MuiTypography-root {
	position: relative;
	opacity: 0.8;
	padding-right: var(--env-var-spacing-1-minus);
}
.field .MuiInputBase-root:has(input) {
	height: 34px;
}
.field .MuiInputBase-root:has(.MuiInputAdornment-root) {
	padding-right: var(--env-var-spacing-1-minus);
}

.field input {
	height: 100%;
	padding: 0 var(--env-var-spacing-1-minus);
}
.field .MuiInputBase-root:has(textarea) {
	padding: var(--env-var-spacing-1-minus);
}

.register-page .field .MuiOutlinedInput-root fieldset,
.register-page .field input,
.login-page .field .MuiOutlinedInput-root fieldset,
.login-page .field input,
.forgot-password-page .field .MuiOutlinedInput-root fieldset,
.forgot-password-page .field input,
.set-new-password-page .field .MuiOutlinedInput-root fieldset,
.set-new-password-page .field input {
	border-radius: var(--env-var-radius-2);
}
