.monitors h1.MuiTypography-root {
  color: var(--env-var-color-1);
  font-weight: 500;
}
.monitors h2.MuiTypography-root {
  color: var(--env-var-color-5);
  font-weight: 500;
}
.monitors h1.MuiTypography-root {
  font-size: var(--env-var-font-size-large-plus);
}
.monitors h2.MuiTypography-root {
  font-size: var(--env-var-font-size-large);
}
.monitors p.MuiTypography-root {
  font-size: var(--env-var-font-size-medium);
  color: var(--env-var-color-5);
}
.monitors h1.MuiTypography-root + p.MuiTypography-root {
  font-size: var(--env-var-font-size-medium-plus);
}
.monitors .MuiStack-root > button:not(.MuiIconButton-root) {
  font-size: var(--env-var-font-size-medium);
  height: var(--env-var-height-2);
  min-width: fit-content;
}

.current-monitors-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  min-width: 25px;
  min-height: 25px;
  background-color: var(--env-var-color-15);
  border: 1px solid var(--env-var-color-6);
  border-radius: 50%;
  font-size: var(--env-var-font-size-medium);
  font-weight: 500;
  color: var(--env-var-color-1);
  margin-left: 10px;
  line-height: 0.8;
}

body:has(.monitors) .actions-menu .MuiPaper-root {
  box-shadow: var(--env-var-shadow-1);
  border: solid 1px var(--env-var-color-6);
  border-radius: var(--env-var-radius-1);
  gap: 1px;
}
body:has(.monitors) .actions-menu .MuiList-root {
  padding: 6px 8px;
  min-width: 100px;
}
body:has(.monitors) .actions-menu li.MuiButtonBase-root {
  font-size: var(--env-var-font-size-medium);
  color: var(--env-var-color-5);
  padding: 5px 8px;
  border-radius: var(--env-var-radius-1);
}
body:has(.monitors) .actions-menu li.MuiButtonBase-root:last-of-type {
  color: var(--env-var-color-26);
}
body:has(.monitors) .actions-menu .MuiModal-root p.MuiTypography-root {
  font-size: var(--env-var-font-size-medium);
  color: var(--env-var-color-2);
}
