.monitors,
.new-monitor {
  width: 70vw;
  padding: 4vw;
}

.monitors-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.monitors-bar-title {
  font-size: 24px;
  font-weight: 700;
}

.monitors-stats {
  display: flex;
  justify-content: space-between;
}

.monitors-gaps-medium {
  height: var(--env-var-spacing-2);
}

.new-monitor-header {
  color: var(--env-var-color-1);
  font-size: var(--env-var-font-size-large-plus);
  font-weight: 600;
}
