.dashboard-setting-menu-item {
  width: 135px;
  padding: 6px;
  margin: 5px 12px;
}

.dashboard-setting-menu-item:hover {
  color: var(--env-var-color-26);
}

#menu-appbar {
  padding: var(--env-var-spacing-1);
}
