aside .selected-path,
aside .MuiListItemButton-root:hover {
  background-color: var(--env-var-color-13);
}
aside .MuiList-root svg {
  width: 20px;
  height: 20px;
  opacity: 0.9;
}
aside .MuiList-root svg path {
  stroke: var(--env-var-color-2);
}
aside span.MuiTypography-root {
  font-size: var(--env-var-font-size-medium);
  line-height: 1;
}
aside .MuiListSubheader-root {
  font-size: var(--env-var-font-size-small);
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 2px;
  opacity: 0.6;
}
aside span.MuiTypography-root,
aside p.MuiTypography-root,
aside .MuiListSubheader-root {
  color: var(--env-var-color-5);
}
aside p.MuiTypography-root {
  font-size: var(--env-var-font-size-small);
  opacity: 0.8;
}
aside .MuiListItemButton-root:not(.selected-path) > * {
  opacity: 0.9;
}
aside .selected-path > * {
  opacity: 1;
}
aside .selected-path span.MuiTypography-root {
  font-weight: 600;
}
aside .MuiCollapse-wrapperInner .MuiList-root > .MuiListItemButton-root {
  position: relative;
}
aside .MuiDivider-root {
  border-color: var(--env-var-color-6);
}
aside
  .MuiCollapse-wrapperInner
  .MuiList-root
  > .MuiListItemButton-root::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 0;
  height: 100%;
  width: 100%;
  border-left: solid 1px var(--env-var-color-5);
  opacity: 0.3;
}
aside
  .MuiCollapse-wrapperInner
  .MuiList-root
  > .MuiListItemButton-root:last-child::before {
  height: 50%;
}

aside .MuiCollapse-wrapperInner .MuiList-root > .MuiListItemButton-root::after {
  content: "";
  position: absolute;
  left: -8px;
  top: 50%;
  height: 1px;
  width: 7px;
  border-radius: 50%;
  background-color: var(--env-var-color-5);
  opacity: 0.3;
}
