.forgot-password-page {
  display: flex;
  justify-content: center;
  height: var(--env-var-height-1);
}
.forgot-password-page button:not(.MuiIconButton-root) {
  height: 34px;
  border-radius: var(--env-var-radius-2);
  line-height: 0;
}
.forgot-password-page h1.MuiTypography-root {
  font-size: var(--env-var-font-size-large);
  color: var(--env-var-color-1);
  font-weight: 600;
}
.forgot-password-page p.MuiTypography-root,
.forgot-password-page button {
  font-size: var(--env-var-font-size-medium);
}
.forgot-password-page p.MuiTypography-root {
  color: var(--env-var-color-2);
}
.forgot-password-page button svg{
  margin-right: 5px;
}


.forgot-password-form {
  margin-top: 65px;
  width: var(--env-var-width-2);
}
