:root {
  --website-color-0: #344054;
  --border-color: #d0d5dd;
  --border-size: solid 1px;
  --label-font-color: #475467;
  --icon-color: #98a2b3;
  --text-field-margin-0: 10px 20px;
  --text-field-margin-1: 10px 20px 5px;
}

.website-textfield-title {
  margin: 0 20px;
  margin-top: 30px;
  font-size: var(--font-size-1);
  color: var(--website-color-0);
  font-weight: bold;
}

.website-textfield {
  display: flex;
  align-items: center;
  position: relative;
  margin: var(--text-field-margin-1);
}

.website-textfield-hint {
  margin: var(--text-field-margin-0);
  font-size: var(--font-size-4);
}

.website-label {
  padding: 6px 20px 6px 10px;
  border: var(--border-size) var(--border-color);
  border-right: none;
  border-radius: 4px 0 0 4px;
  font-size: var(--font-size-1);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--label-font-color);
}

.website-url {
  width: 248px;
  height: 31.5px;
  padding: 0px 15px;
  border: var(--border-size) var(--border-color);
}

.website-icon-holder {
  width: 40px;
  height: 33px;
  padding: 5px;
  border: var(--border-size) var(--border-color);
  border-left: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy-to-clipboard-button {
  padding: 5.5px 20px 6px 10px;
  border: var(--border-size) var(--border-color);
  border-left: none;
  border-radius: 0 8px 8px 0;
  font-size: var(--font-size-1);
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--label-font-color);
  cursor: pointer;
}

.copy-icon {
  margin-right: 5px;
}

.with-no-copy-button {
  display: none;
}
