:root {
  --env-var-color-1: #101828;
  --env-var-color-2: #475467;
  --env-var-color-3: #1570ef;

  --env-var-color-4: #d0d5dd;
  --env-var-color-5: #344054;
  --env-var-color-6: #eaecf0;
  --env-var-color-7: #7f56d9;
  --env-var-color-8: #fff;
  --env-var-color-9: #f2f2f2;
  --env-var-color-10: #175cd3;

  --env-var-radius-1: 4px;
  --env-var-radius-2: 8px;

  --env-var-width-1: 100vw;
  --env-var-width-2: 360px;

  --env-var-height-1: 100vh;

  --env-var-spacing-1: 12px;
  --env-var-spacing-2: 24px;
  --env-var-spacing-3: 32px;
  --env-var-spacing-4: 40px;

  --env-var-font-size-small: 11px;
  --env-var-font-size-medium: 13px;
  --env-var-font-size-medium-plus: 14px;
  --env-var-font-size-large: 16px;
  --env-var-font-size-xlarge: 30px;

  --env-var-img-width-1: 20px;

  --env-var-default-1: 24px;
  --env-var-default-2: 40px;
}

.website-textfield-title {
  margin: 0 20px;
  margin-top: 30px;
  font-size: 13px;
  color: var(--env-var-color-5);
  font-weight: bold;
}

.website-textfield {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 20px 5px;
}

.website-textfield-hint {
  margin: 10px 20px;
  font-size: 11px;
}

.website-label {
  padding: 6px 20px 6px 10px;
  border: solid 1px var(--env-var-color-4);
  border-right: none;
  border-radius: 4px 0 0 4px;
  font-size: 13px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--env-var-color-2);
}

.website-url {
  width: 248px;
  height: 31.5px;
  padding: 0px 15px;
  border: solid 1px var(--env-var-color-4);
}

.website-icon-holder {
  width: 40px;
  height: 33px;
  padding: 5px;
  border: solid 1px var(--env-var-color-4);
  border-left: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy-to-clipboard-button {
  padding: 5.5px 20px 6px 10px;
  border: solid 1px var(--env-var-color-4);
  border-left: none;
  border-radius: 0 8px 8px 0;
  font-size: 13px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--env-var-color-2);
  cursor: pointer;
}

.copy-icon {
  margin-right: 5px;
}

.with-no-copy-button {
  display: none;
}
