.create-monitor p.MuiTypography-root,
.create-monitor button.MuiButtonBase-root {
  font-size: var(--env-var-font-size-medium);
}
.create-monitor h6.MuiTypography-root,
.create-monitor .MuiBox-root .field + p.MuiTypography-root {
  font-size: var(--env-var-font-size-small-plus);
  opacity: 0.8;
}
.create-monitor button.MuiButtonBase-root {
  height: 34px;
}

.create-monitor .error-container {
  position: relative;
}
.create-monitor .error-container p.MuiTypography-root.input-error {
  opacity: 0.8;
  position: absolute;
  top: 0;
}
.create-monitor .MuiStack-root:has(span.MuiTypography-root.input-error) {
  position: relative;
}
.create-monitor span.MuiTypography-root.input-error {
  position: absolute;
  top: 100%;
}

.create-monitor .MuiStack-root .MuiButtonGroup-root button {
  font-size: var(--env-var-font-size-small);
  height: 28px;
  padding: 8px;
}
