.create-monitor h1.MuiTypography-root {
  font-size: var(--env-var-font-size-large-plus);
  color: var(--env-var-color-1);
}
.create-monitor h1.MuiTypography-root,
.create-monitor h2.MuiTypography-root {
  font-weight: 600;
}
.create-monitor h2.MuiTypography-root {
  font-size: var(--env-var-font-size-large);
}
.create-monitor p.MuiTypography-root,
.create-monitor button.MuiButtonBase-root {
  font-size: var(--env-var-font-size-medium);
}
.create-monitor h2.MuiTypography-root,
.create-monitor h6.MuiTypography-root,
.create-monitor p.MuiTypography-root {
  color: var(--env-var-color-2);
}
.create-monitor h6.MuiTypography-root {
  font-size: var(--env-var-font-size-small-plus);
  opacity: 0.8;
}
.create-monitor button.MuiButtonBase-root {
  height: 34px;
}
.create-monitor .error-container {
  position: relative;
}
.create-monitor .error-container p.MuiTypography-root.input-error {
  color: var(--env-var-color-24);
  opacity: 0.8;
  position: absolute;
  top: 0;
}
.create-monitor .MuiStack-root:has(span.MuiTypography-root.input-error) {
  position: relative;
}
.create-monitor span.MuiTypography-root.input-error {
  position: absolute;
  top: 100%;
}
.create-monitor .config-box {
  padding: var(--env-var-spacing-4) 50px;
  padding-bottom: 60px;
  border: 1px solid var(--env-var-color-16);
  border-radius: var(--env-var-radius-1);
  flex-direction: row;
  gap: var(--env-var-spacing-4);
}
.create-monitor .config-box .MuiBox-root,
.create-monitor .config-box .MuiStack-root {
  flex: 1;
}

.create-monitor-form {
  display: flex;
  flex-direction: column;
  gap: var(--env-var-spacing-4);
}

.create-monitor .MuiStack-root .MuiButtonGroup-root button {
  font-size: var(--env-var-font-size-small);
  height: 28px;
  padding: 8px;
}

body:has(.create-monitor) .select-dropdown .MuiMenuItem-root,
.create-monitor .select-wrapper .select-component > .MuiSelect-select {
  text-transform: lowercase;
}
