.announcement-tile {
  margin: 20px;
  width: fit-content;
  display: flex;
  border: 1px solid var(--env-var-color-4);
  padding: 16px;
  border-radius: var(--env-var-radius-1);
}

.info-icon-frame {
  display: flex;
  width: var(--env-var-default-2);
  height: var(--env-var-default-2);
  border: 1px solid var(--env-var-color-6);
  border-radius: var(--env-var-radius-2);
  justify-content: center;
  align-items: center;
}

.announcement-content {
  padding: 0 16px;
}

.announcement-content-subject {
  font-size: var(--env-var-font-size-medium);
  color: var(--env-var-color-5);
  font-weight: 700;
  margin-bottom: 10px;
}

.announcement-content-body {
  font-size: var(--env-var-font-size-medium);
  color: var(--env-var-color-2);
  font-weight: 300;
}

.announcement-content-controllers {
  display: flex;
  font-size: var(--env-var-font-size-medium);
  margin-top: 15px;
}

.controllers-button-esc {
  font-size: var(--env-var-font-size-medium);
  font-weight: 600;
  margin-right: 12px;
}

.controllers-button-primary {
  font-size: var(--env-var-font-size-medium);
  font-weight: 600;
  color: var(--env-var-color-3);
}

.announcement-close {
  width: var(--env-var-default-1);
  height: var(--env-var-default-1);
}
