.select-wrapper .select-component > .MuiSelect-select {
  padding: 0 10px;
  height: 34px !important;
  display: flex !important;
  align-items: center;
  text-transform: capitalize;
  line-height: 1;
}
.select-wrapper .MuiInputBase-root:has(> .MuiSelect-select) {
  min-width: 150px;
}
.select-wrapper .MuiInputBase-root:has(> .MuiSelect-select),
.MuiMenu-List .MuiMenuItem-root,
.select-wrapper h3.MuiTypography-root {
  font-size: var(--env-var-font-size-medium);
  color: var(--secondary-color);
}
.select-wrapper h3.MuiTypography-root {
  font-weight: 500;
}
.MuiInputBase-root:has(> .MuiSelect-select) fieldset {
  border-color: var(--border-color-dark);
}
.MuiInputBase-root:not(.Mui-focused):has(> .MuiSelect-select):hover fieldset {
  border-color: var(--border-color-dark);
}

.select-dropdown.MuiPaper-root {
  box-shadow: var(--env-var-shadow-1);
  border: solid 1px var(--border-color);
  border-radius: var(--env-var-radius-1);
}
.select-dropdown .MuiList-root {
  min-width: 100px;
}
.select-dropdown li {
  font-size: var(--env-var-font-size-medium);
  color: var(--secondary-color);
  padding: 5px 8px;
  border-radius: var(--env-var-radius-1);
}
.select-dropdown li.Mui-selected,
.select-dropdown li.Mui-selected.Mui-focusVisible,
.select-dropdown li.Mui-selected:hover {
  background-color: var(--primary-bg-fill);
}
