.select-wrapper .select-component > .MuiSelect-select {
  padding: 0 10px;
  height: 34px !important;
  display: flex !important;
  align-items: center;
  text-transform: capitalize;
  line-height: 1;
}
.select-wrapper .MuiInputBase-root:has(> .MuiSelect-select) {
  min-width: 150px;
}
.select-wrapper .MuiInputBase-root:has(> .MuiSelect-select),
.MuiMenu-List .MuiMenuItem-root,
.select-wrapper h3.MuiTypography-root {
  font-size: var(--env-var-font-size-medium);
  color: var(--env-var-color-5);
}
.select-wrapper h3.MuiTypography-root{
  font-weight: 500;
}
.MuiInputBase-root:has(> .MuiSelect-select) fieldset {
  border-color: var(--env-var-color-29);
}
.MuiInputBase-root:not(.Mui-focused):has(> .MuiSelect-select):hover fieldset {
  border-color: var(--env-var-color-29);
}
