.area-tooltip {
  background-color: white;
  border: solid 1px var(--env-var-color-4);
  border-radius: var(--env-var-radius-1);
  padding: var(--env-var-spacing-1) var(--env-var-spacing-2);
}
.area-tooltip p {
  margin: 0;
  padding: 0;
}
.area-tooltip p:first-of-type {
  color: var(--env-var-color-3);
  font-size: var(--env-var-font-size-medium);
}
.area-tooltip p:last-of-type {
  margin-top: 5px;
  color: var(--env-var-color-5);
  font-size: var(--env-var-font-size-small);
}
