.MuiTable-root .host {
  width: fit-content;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.MuiTable-root .host span {
  font-size: 11px;
}

.MuiTable-root .label {
  line-height: 1;
  border-radius: var(--env-var-radius-2);
  padding: 7px;
  font-size: var(--env-var-font-size-small-plus);
}

.MuiPaper-root:has(table.MuiTable-root) {
  box-shadow: none;
  border: solid 1px var(--border-color);
  border-radius: var(--env-var-radius-1);
}
.MuiTable-root
  .MuiTableBody-root
  .MuiTableRow-root:last-child
  .MuiTableCell-root {
  border: none;
}
.MuiTable-root .MuiTableHead-root,
.MuiTable-root .MuiTableRow-root:hover {
  background-color: var(--primary-bg-accent);
}
.MuiTable-root .MuiTableHead-root .MuiTableCell-root,
.MuiTable-root .MuiTableBody-root .MuiTableCell-root {
  font-size: var(--env-var-font-size-medium);
}
.MuiTable-root .MuiTableHead-root .MuiTableCell-root {
  padding: var(--env-var-spacing-1) var(--env-var-spacing-2);
  font-weight: 500;
  color: var(--secondary-color-light);
}
.MuiTable-root .MuiTableHead-root span {
  display: inline-block;
  height: 17px;
  width: 20px;
  overflow: hidden;
  margin-bottom: -3px;
  margin-left: 3px;
}
.MuiTable-root .MuiTableHead-root span svg {
  width: 20px;
  height: 20px;
}
.MuiTable-root .MuiTableBody-root .MuiTableCell-root {
  color: var(--secondary-color);
  padding: 6px var(--env-var-spacing-2);
}
.MuiTable-root .MuiTableBody-root .MuiTableRow-root {
  height: 50px;
}

.MuiPaper-root + .MuiPagination-root {
  margin-top: 24px;
  background-color: var(--primary-bg);
  border: solid 1px var(--border-color);
  border-radius: var(--env-var-radius-1);
  padding: var(--env-var-spacing-1-plus) var(--env-var-spacing-2);
}
.MuiPaper-root + .MuiPagination-root ul {
  justify-content: center;
}
.MuiPaper-root
  + .MuiPagination-root
  ul
  li:not(:first-child):not(:last-child)
  button {
  font-size: var(--env-var-font-size-medium);
  color: var(--secondary-color);
  font-weight: 500;
}
.MuiPaper-root + .MuiPagination-root ul li:first-child {
  margin-right: auto;
}
.MuiPaper-root + .MuiPagination-root ul li:last-child {
  margin-left: auto;
}
.MuiPaper-root + .MuiPagination-root ul li:first-child button,
.MuiPaper-root + .MuiPagination-root ul li:last-child button {
  border: solid 1px var(--border-color);
  border-radius: var(--env-var-radius-1);
}
.MuiPaper-root + .MuiPagination-root ul li:first-child button {
  padding: 0 var(--env-var-spacing-1) 0 var(--env-var-spacing-1-plus);
}
.MuiPaper-root + .MuiPagination-root ul li:last-child button {
  padding: 0 var(--env-var-spacing-1-plus) 0 var(--env-var-spacing-1);
}
.MuiPaper-root + .MuiPagination-root ul li:first-child button::after,
.MuiPaper-root + .MuiPagination-root ul li:last-child button::before {
  position: relative;
  display: inline-block;
}
.MuiPaper-root + .MuiPagination-root ul li:first-child button::after {
  content: "Previous";
  margin-left: 15px;
}
.MuiPaper-root + .MuiPagination-root ul li:last-child button::before {
  content: "Next";
  margin-right: 15px;
}
.MuiPaper-root + .MuiPagination-root .MuiPaginationItem-root.Mui-selected {
  background-color: var(--primary-bg-fill);
}
.MuiPaper-root + .MuiPagination-root div.MuiPaginationItem-root {
  user-select: none;
}

.MuiTablePagination-root p {
  color: var(--secondary-color-light);
  font-weight: 500;
  font-size: var(--env-var-font-size-small-plus);
}
.MuiTablePagination-root button,
.MuiTablePagination-root .MuiSelect-select {
  border: solid 1px var(--border-color);
  border-radius: var(--env-var-radius-1);
}
.MuiTablePagination-root .MuiTablePagination-select.MuiSelect-select {
  text-align: left;
  text-align-last: left;
}
.MuiTablePagination-root button {
  min-width: 0;
  padding: 4px;
  margin-left: 5px;
}
.MuiTablePagination-root svg {
  width: 22px;
  height: 22px;
}
.MuiTablePagination-root svg path {
  stroke: var(--secondary-color-light);
  stroke-width: 1.3;
}
.MuiTablePagination-root .MuiSelect-icon {
  width: 16px;
  height: 16px;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
}
.MuiTablePagination-root button.Mui-disabled {
  opacity: 0.4;
}
.MuiTablePagination-root button:not(.Mui-disabled):hover {
  background-color: var(--primary-bg-fill);
  border-color: var(--primary-bg-fill);
}

.pagination-dropdown.MuiPaper-root {
  box-shadow: var(--env-var-shadow-1);
  border: solid 1px var(--border-color);
  border-radius: var(--env-var-radius-1);
}
.pagination-dropdown ul {
  padding: 4px;
  min-width: 100px;
}
.pagination-dropdown li,
body:has(.pagination-dropdown) p:has(+ .MuiTablePagination-root) {
  font-size: var(--env-var-font-size-medium);
  color: var(--secondary-color-light);
  padding: 4px;
}
.pagination-dropdown li.Mui-selected,
.pagination-dropdown li.Mui-selected.Mui-focusVisible,
.pagination-dropdown li.Mui-selected:hover {
  background-color: var(--primary-bg-fill);
}
body:has(.pagination-dropdown) p:has(+ .MuiTablePagination-root) {
  font-size: var(--env-var-font-size-small-plus);
}

.monitors .MuiTable-root .MuiTableHead-root .MuiTableCell-root {
  text-transform: uppercase;
  color: var(--secondary-color);
  opacity: 0.8;
  font-size: var(--env-var-font-size-small-plus);
  font-weight: 400;
}
.monitors .MuiTableCell-root:not(:first-of-type):not(:last-of-type),
.monitors .MuiTableCell-root:not(:first-of-type):not(:last-of-type) {
  padding-left: var(--env-var-spacing-1);
  padding-right: var(--env-var-spacing-1);
}
