:root {
  --announcement-border-color: #d0d5dd;
  --announcement-border-radius: 4px;
  --announcement-border-radius-2: 8px;
  --announcement-font-size-0: 13px;
  --announcement-font-color-0: #344054;
  --announcement-font-color-1: #475467;
  --announcement-font-color-2: #1570ef;
  --announcement-padding: 16px;
  --info-icon-frame-color: #eaecf0;
  --margin: 20px;
}

.announcement-without-tile {
  margin: var(--margin);
  max-width: 343px;
  width: fit-content;
  display: flex;
  border: 1px solid var(--announcement-border-color);
  padding: var(--announcement-padding);
  border-radius: var(--announcement-border-radius);
}

.h-spacing {
  width: 20px;
}

.announcement-without-content-subject {
  font-size: var(--announcement-font-size-0);
  color: var(--announcement-font-color-0);
  font-weight: 700;
  margin-bottom: 10px;
}

.announcement-without-content-body {
  font-size: var(--announcement-font-size-0);
  color: var(--announcement-font-color-1);
}
