.configure-pagespeed span.MuiTypography-root {
  font-size: var(--env-var-font-size-small-plus);
}
.configure-pagespeed h3.MuiTypography-root {
  font-weight: 500;
}
.configure-pagespeed .MuiBox-root > .field + p.MuiTypography-root {
  font-size: var(--env-var-font-size-small-plus);
}
.configure-pagespeed .MuiBox-root > .field + p.MuiTypography-root,
.configure-pagespeed h3.MuiTypography-root > span.MuiTypography-root {
  opacity: 0.6;
}
.configure-pagespeed .checkbox-wrapper {
  margin-bottom: 1px;
}

/* to be removed */
.configure-pagespeed .section-disabled {
  opacity: 0.4;
  padding: 10px;
  border-radius: 8px;
  user-select: none;
  pointer-events: none;
}

.configure-pagespeed button {
  height: var(--env-var-height-2);
}

.configure-pagespeed h3.MuiTypography-root {
  flex: 0.7;
}

.configure-pagespeed .field,
.configure-pagespeed .section-disabled,
.configure-pagespeed .select-wrapper {
  flex: 1;
}
