.configure-pagespeed form > .MuiStack-root:nth-child(2) {
  background-color: var(--env-var-color-8);
  border: solid 1px var(--env-var-color-6);
  border-radius: var(--env-var-radius-1);
  padding: var(--env-var-default-2);
}
.configure-pagespeed h1.MuiTypography-root {
  font-size: var(--env-var-font-size-large-plus);
}
.configure-pagespeed h1.MuiTypography-root,
.configure-pagespeed h2.MuiTypography-root {
  color: var(--env-var-color-1);
}
.configure-pagespeed span.MuiTypography-root {
  font-size: var(--env-var-font-size-small-plus);
}
.configure-pagespeed p.MuiTypography-root,
.configure-pagespeed h3.MuiTypography-root {
  color: var(--env-var-color-5);
}
.configure-pagespeed h1.MuiTypography-root,
.configure-pagespeed h3.MuiTypography-root,
.configure-pagespeed h2.MuiTypography-root {
  font-weight: 600;
}
.configure-pagespeed p.MuiTypography-root,
.configure-pagespeed h3.MuiTypography-root,
.configure-pagespeed h3.MuiTypography-root > span.MuiTypography-root {
  font-size: var(--env-var-font-size-medium);
}
.configure-pagespeed .MuiBox-root > .field + p.MuiTypography-root {
  font-size: var(--env-var-font-size-small-plus);
}
.configure-pagespeed .MuiBox-root > .field + p.MuiTypography-root,
.configure-pagespeed h3.MuiTypography-root > span.MuiTypography-root {
  opacity: 0.6;
}
.configure-pagespeed .checkbox-wrapper {
  margin-bottom: 1px;
}
.configure-pagespeed .MuiInputBase-root:has(> .Mui-disabled) {
  background-color: var(--env-var-color-13);
}
/* to be removed */
.configure-pagespeed .section-disabled {
  opacity: 0.4;
  background-color: #f1f1f2;
  padding: 10px;
  border-radius: 8px;
  user-select: none;
  pointer-events: none;
}

.configure-pagespeed button {
  height: var(--env-var-height-2);
}

body:has(.configure-pagespeed) .select-dropdown .MuiMenuItem-root,
.configure-pagespeed .select-wrapper .select-component > .MuiSelect-select {
  text-transform: lowercase;
}

.configure-pagespeed .field,
.configure-pagespeed .section-disabled,
.configure-pagespeed .select-wrapper,
.configure-pagespeed h3.MuiTypography-root {
  flex: 1;
}
