.flexibile-textfield-title {
  color: var(--env-var-color-5);
  font-size: var(--env-var-font-size-medium);
}

.flexibile-textfield-input {
  width: 292.8px;
  height: 6.8px;
  padding: var(--env-var-spacing-1);
  margin-top: 10px;
  border: 1px solid var(--env-var-color-4);
  border-radius: var(--env-var-radius-1);
}

.flexibile-textfield-input:focus {
  outline: none;
}

.flexibile-textfield-input::placeholder {
  color: var(--env-var-color-25);
  font-size: var(--env-var-font-size-medium);
}
