.checkbox-holder {
  height: var(--env-var-img-width-1);
  display: flex;
  align-items: center;
}

.checkbox {
  width: var(--env-var-font-size-medium);
  height: var(--env-var-font-size-medium);
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.checkbox-label {
  margin-left: 5px;
  font-size: var(--env-var-font-size-medium);
  color: var(--env-var-color-5);
  font-weight: 600;
  cursor: pointer;
}
