.checkbox-holder {
  height: var(--size-20);
  display: flex;
  align-items: center;
}

.checkbox {
  width: var(--size-13);
  height: var(--size-13);
  margin: 0;
  padding: 0;
  cursor: var(--cursor-pointer);
}

.checkbox-label {
  margin-left: 5px;
  font-size: 13px;
  color: #344054;
  font-weight: 600;
  cursor: var(--cursor-pointer);
}
