:root {
  --color-title-1: #344054;
  --text-field-margin-0: 10px 20px;
  --description-color-0: #344054;
}

.description-field-holder {
  margin: var(--text-field-margin-0);
  margin-top: var(--margin-2);
}

.text-field-title {
  color: var(--color-title-1);
  font-weight: bold;
  margin-bottom: var(--margin-1);
  font-size: var(--font-size-1);
  color: var(--description-color-0);
}

.description-field-area {
  min-width: 320px;
  font-size: var(--font-size-1);
  border-radius: 8px;
}

.description-field-label {
  margin-top: var(--margin-1);
  font-size: var(--font-size-4);
}

.with-error {
  color: red;
}

#description-field-area-helper-text {
  margin-left: 0;
  margin-top: var(--margin-1);
  font-size: var(--font-size-4);
}

#description-field-area {
  min-width: 320px;
  font-size: var(--font-size-1);
}
