:root {
  --color-title-1: #344054;
  --font-family-1: "Roboto", "Helvetica", "Arial", sans-serif;
  --text-field-margin-0: 10px 20px;
}

.description-field-holder {
  margin: var(--text-field-margin-0);
  margin-top: 20px;
}

.text-field-title {
  color: var(--color-title-1);
  font-weight: bold;
  font-family: var(--font-family-1);
  margin-bottom: 10px;
}

.description-field-area {
  font-size: 13px;
  border-radius: 8px;
}

.description-field-label {
  margin-top: 10px;
  font-family: var(--font-family);
  font-size: 11px;
}

.with-error {
  color: red;
}
