:root {
  --textfield-color-0: #344054;
  --textfield-font-size: 13px;
  --size-16: 16px;
  --margin-1: 10px;
}

.email-text-field {
  position: relative;
  margin-top: var(--margin-1);
}

#outlined-basic {
  width: 320px;
  height: 14px;
  font-size: var(--textfield-font-size);
  padding: 8px 12px;
}

.email-text-field-title {
  font-size: var(--textfield-font-size);
  color: var(--textfield-color-0);
  font-weight: bold;
}

.email-text-field-input {
  font-size: var(--textfield-font-size);
}

#outlined-basic-helper-text {
  margin-left: 0;
  margin-top: var(--margin-1);
  font-size: 11px;
}

.text-field-icon {
  width: var(--size-16);
  height: var(--size-16);
}

.icon-holder {
  width: var(--size-16);
  height: var(--size-16);
  padding: 0;
  margin: 0;
}
