.play-ground-charts {
  display: flex;
}

.play-ground-charts-spacing {
  height: 110px;
}

.tooltip-playground {
  margin: auto;
  padding: 5%;
  width: 5%;
  justify-content: center;
  text-align: center;
}

.playground {
  padding: 40px;
}
