.dashboard-menu-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.text-container {
  display: flex;
  align-items: center;
}

.dashboard-menu-text {
  margin-left: 8px;
}
